/* .navigation { 
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.navigation li { margin-right: 2%;}

.navigation li:last-child{ margin-right: 0;}

.navigation li a{ 
  padding: 10px 0;
  color: #454545;
  font-size: 21px;
  text-decoration: none;
} */